/* ==============================================================================================

// SLICK SLIDER MODULE STYLES

================================================================================================= */

/************* Internal variables ************/

/************* General styles ************/
.slider {
  @include container((width: 1120px));
  margin: 0 auto;
  padding-top: em(20);
  padding-bottom: em(20);

  @include min-width($_tablet-960px-breakpoint) {
    padding-bottom: em(60);
  }
}

.slider__img-wrap {
  height: auto;

  &:hover {
    @include min-width($_tablet-960px-breakpoint) {
      color: c(red);
    }
  }
}

.slider__img-link {
  outline: none;
}

.slider__img {
  @include transition((properties: (transform)));
  transform: scale(0.9);

  // keep until more than 3 bottles are present
  @include min-width($_tablet-960px-breakpoint) {
    transition: unset;
    transform: unset;
  }
}

.slider__title {
  font-weight: bold;
  text-align: center;
  letter-spacing: em(2, $font-size-h5);
  max-width: em(125, $font-size-h5);
  margin: 0 auto em(15, $font-size-h5) auto;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: none;

  &:hover {
    overflow: visible;
  }

  > a {
    outline: none;
  }
}

/****************** Slick slider overrides ****************/
.slick-list {
  // keep until more than 3 bottles are present
  @include min-width($_tablet-960px-breakpoint) {
    margin: 0 -20px;
  }
}

.slick-slide {
  outline: none;

  // keep until more than 3 bottles are present
  @include min-width($_tablet-960px-breakpoint) {
    margin: 0 20px;
  }
}

.slick-current {
  .slider__img-wrap {
    color: c(red);

    @include min-width($_tablet-960px-breakpoint) {
      color: unset;

      &:hover {
        @include min-width($_tablet-960px-breakpoint) {
          color: c(red);
        }
      }
    }
  }

  .slider__img {
    @include transition((properties: (transform)));
    transform: scale(1);

    // keep until more than 3 bottles are present
    @include min-width($_tablet-960px-breakpoint) {
      transition: unset;
      transform: unset;
    }
  }
}

.slick-dots {
  text-align: center;

  li {
    @include inline-block;
    @include position;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;

    > button {
      display: block;
      font-size: 0;
      line-height: 0;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;

      &::before {
        content: '•';
        @include position(absolute, (top: 0, left: 0));
        font-size: 22px;
        line-height: 20px;
        width: 20px;
        height: 20px;
        text-align: center;
        opacity: 0.25;
        color: black;
      }
    }
  }

  .slick-active > button::before {
    opacity: 1;
  }
}
