/* ==============================================================================================
// AGE GATE STYLES
================================================================================================= */

/************ General styles ************/
.age-gate {
  @include hide;
}

body.age-gate-active {
  .wrap {
    display: none;
  }

  .age-gate {
    @include show;
    @include position(fixed, (top: 0, left: 0, right: 0, bottom: 0));
    z-index: z(above-all);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: c(black);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .overlay-block {
      top: 42%;

      @include min-width($_mobile-480px-breakpoint) {
        top: 50%;
      }

      @include min-width($_tablet-800px-breakpoint) {
        padding-top: em(35);
      }

      @include min-width($_tablet-960px-breakpoint) {
        width: em(750);
      }
    }

    .overlay-block__cta {
      width: em(95, $font-size-button);
    }
  }
}
