/* ==============================================================================================

// HEADER/NAVIGATION STYLES

================================================================================================= */

/************* Internal variables ************/
$_banner-height--mobile: 80px;
$_banner-height--desktop: 100px;

/************* General styles ************/
.banner {
  @include position(fixed, (top: 0, left: 0));
  height: em($_banner-height--mobile);
  z-index: z(nav);
  width: 100%;
  background-color: c(white);

  @include min-width($_tablet-800px-breakpoint) {
    height: em($_banner-height--desktop);
  }
}

/* Make sure body content accounts for fixed header */
.banner + .wrap {
  padding-top: em($_banner-height--mobile);
  background-color: c(gray, light);

  @include min-width($_tablet-800px-breakpoint) {
    padding-top: em($_banner-height--desktop);
  }
}

.banner__wrap {
  @include container;
  @include flex-container;
  height: 100%;
  padding-top: em(6.5);

  @include min-width($_tablet-800px-breakpoint) {
    padding-top: 0;
    padding-left: em(40);
    padding-right: em(40);
  }

  @include min-width($_tablet-960px-breakpoint) {
    justify-content: space-between;
  }

  &--active-mobile-menu {
    @include transition;
    background-color: c(red);

    @include min-width($_tablet-800px-breakpoint) {
      @include transition;
      background-color: c(white);
    }
  }
}

.banner__link {
  height: 100%;
  margin-top: em(10);

  &--mobile {
    @include show;

    @include min-width($_tablet-800px-breakpoint) {
      @include hide;
    }
  }

  &--desktop {
    @include hide;

    @include min-width($_tablet-800px-breakpoint) {
      @include show;
      margin-top: em(12);
    }
  }
}

.banner__menu-btn {
  background-color: transparent;
  padding: 0;

  @include min-width($_tablet-800px-breakpoint) {
    @include hide;
    @include transition;
  }
}

.banner__nav-header-mobile {
  @include position(fixed, (top: $_banner-height--mobile, right: 0, left: 0));
  @include transition;
  background-color: c(white);
  z-index: z(abyss);
  opacity: 0;
  height: 0;
  overflow: hidden;
  text-align: center;

  &::before {
    content: '';
    @include position(absolute, (top: 0, right: -15px, bottom: 0, left: 0));
    @include transition;
    background-color: c(red);
    transform: skew(-14deg) translateX(-120%);
    transform-origin: top left;
  }

  &--show {
    z-index: z(hidden);
    opacity: 1;
    height: calc(100vh - #{em($_banner-height--mobile)});
    overflow: scroll;

    &::before {
      transform: skew(-14deg) translateX(0);
    }
  }

  @include min-width($_tablet-800px-breakpoint) {
    @include hide;
    @include transition;
  }

  .nav-header--mobile {
    &:first-child {
      margin-top: em(50);
    }

    .menu-item {
      font-size: em($font-size-base * 1.2);
      padding: em(20, $font-size-base * 1.2);
      text-transform: uppercase;
      font-weight: bold;

      @include min-width($_mobile-640px-breakpoint) {
        font-size: em(22);
        padding: em(25, 22);
      }

      &.active {
        text-decoration: underline;
      }
    }
  }
}

.banner__nav-header-desktop {
  @include hide;

  @include min-width($_tablet-800px-breakpoint) {
    @include flex-container;
    width: 100%;
  }

  @include min-width($_tablet-960px-breakpoint) {
    max-width: em(1400);
    margin: 0 auto;
  }

  @include min-width($_tablet-1120px-breakpoint) {
    padding-left: em(60);
  }

  .nav-header--desktop {
    @include flex-container;
    padding-top: em(14);

    .menu-item {
      line-height: em(15, 14.5);

      &:not(:first-child) {
        margin-left: em(30, 14.5);

        @include min-width($_tablet-960px-breakpoint) {
          margin-left: em(30, $font-size-base);
        }

        @include min-width($_tablet-1120px-breakpoint) {
          margin-left: em(50, $font-size-base * 1.1);
        }
      }

      > a {
        @include transition((properties: (color)));
        font-size: em(14.5);
        letter-spacing: em(0.5, 14.5);
        text-transform: uppercase;
        font-weight: bold;

        @include min-width($_tablet-960px-breakpoint) {
          font-size: em($font-size-base);
          letter-spacing: em(0.5, $font-size-base);
        }

        @include min-width($_tablet-1120px-breakpoint) {
          font-size: em($font-size-base * 1.05);
          letter-spacing: em(0.5, $font-size-base * 1.05);
        }

        &:hover {
          @include transition((properties: (color)));
          color: c(red);
        }
      }

      &.active {
        text-decoration: underline;
        color: c(red);
      }
    }
  }
}
