/* ==============================================================================================

// HEADER/NAVIGATION STYLES

================================================================================================= */

/************* Internal variables ************/
$_banner-height--mobile: 75px;
$_banner-height--desktop: 90px;

/************* General styles ************/
.banner {
  @include position(fixed, (top: 0, left: 0));
  @include transition;
  height: em($_banner-height--mobile);
  z-index: z(nav);
  width: 100%;

  @include min-width($_tablet-800px-breakpoint) {
    @include transition;
    height: em($_banner-height--desktop);
  }
}

/* Make sure body content accounts for fixed header */
.banner + .wrap {
  padding-top: em($_banner-height--mobile);

  @include min-width($_tablet-800px-breakpoint) {
    padding-top: em($_banner-height--desktop);
  }
}

.banner__wrap {
  @include container;
  @include flex-container;
  @include transition;
  background-color: c(beige);
  height: 100%;

  &--active-mobile-menu {
    @include transition;
    background-color: c(red);

    @include min-width($_tablet-800px-breakpoint) {
      @include transition;
      background-color: c(beige);
    }
  }

  @include min-width($_tablet-800px-breakpoint) {
    justify-content: center;
  }
}

.banner__link {
  height: 100%;
  margin-top: em(10);

  &--mobile {
    @include show;

    @include min-width($_tablet-800px-breakpoint) {
      @include hide;
    }
  }

  &--desktop {
    @include hide;

    @include min-width($_tablet-800px-breakpoint) {
      @include show;
      margin-top: em(12);
    }
  }
}

.banner__menu-btn {
  background-color: transparent;
  padding: 0;

  @include min-width($_tablet-800px-breakpoint) {
    @include hide;
    @include transition;
  }
}

.banner__nav-header-mobile {
  @include position(fixed, (top: $_banner-height--mobile, right: 0, left: 0));
  @include transition;
  background-color: c(beige);
  z-index: z(abyss);
  opacity: 0;
  height: 0;
  overflow: hidden;
  text-align: center;

  &::before {
    content: '';
    @include position(absolute, (top: 0, right: -15px, bottom: 0, left: 0));
    @include transition;
    background-color: c(red);
    transform: skew(-14deg) translateX(-120%);
    transform-origin: top left;
  }

  &--show {
    z-index: z(hidden);
    opacity: 1;
    height: calc(100vh - #{em($_banner-height--mobile)});
    overflow: scroll;

    &::before {
      transform: skew(-14deg) translateX(0);
    }
  }

  @include min-width($_tablet-800px-breakpoint) {
    @include hide;
    @include transition;
  }

  .nav-header--mobile {
    &:first-child {
      margin-top: em(50);
    }

    .menu-item {
      font-size: em($font-size-base);
      padding: em(25, $font-size-base);
      text-transform: uppercase;
      font-weight: bold;

      @include min-width($_mobile-640px-breakpoint) {
        font-size: em(22);
        padding: em(25, 22);
      }
    }
  }
}

.banner__nav-header-desktop {
  @include hide;
  @include transition;

  @include min-width($_tablet-800px-breakpoint) {
    @include flex-container((justify: space-around));
    @include transition;
    width: 100%;
  }

  @include min-width($_tablet-960px-breakpoint) {
    max-width: em(1120);
  }

  .nav-header--desktop {
    @include flex-container;

    .menu-item {
      &:not(:first-child) {
        margin-left: em(50, 16);

        @include min-width($_tablet-960px-breakpoint) {
          margin-left: em(100, 16);
        }
      }

      > a {
        font-size: em(16);
        letter-spacing: em(1, 16);
        text-transform: uppercase;
      }
    }
  }
}
