/* ==============================================================================================

// CTA MODULE STYLES

================================================================================================= */

/************* General styles ************/
.cta {
  @include container((width: 1120px));
  padding-top: em(50);
  padding-bottom: em(50);
  text-align: center;

  &--borders {
    box-shadow: 0 15px 40px -10px c(red);
    margin-top: em(40);
    margin-bottom: em(30);
  }

  p {
    font-size: $font-size-base * 1.2;
    line-height: em(30, $font-size-base * 1.2);
    margin-bottom: em(20, $font-size-base * 1.2);

    @include min-width($_tablet-800px-breakpoint) {
      font-size: $font-size-base--desktop;
      line-height: em(40, $font-size-base--desktop);
      margin-bottom: em(20, $font-size-base--desktop);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    @include transition((properties: (color)));
    color: c(red, dark);

    &:hover {
      @include transition((properties: (color)));
      color: c(red);
    }
  }
}

.cta__btn {
  @include button {
    @include transition((properties: (background-color)));
    background-color: c(red, dark);
    color: white !important;

    &:hover,
    &:focus {
      @include transition((properties: (background-color)));
      background-color: c(red);
    }
  }
}
