/* ==============================================================================================

// FEATURED MODULE STYLES

================================================================================================= */

/************* Internal variables ************/

/************* General styles ************/
.featured {
  @include container((width: 1280px));
  text-align: center;

  &--home {
    padding-top: em(30);
  }
}

.featured__title {
  letter-spacing: 0;

  @include min-width($_mobile-480px-breakpoint) {
    font-size: em($font-size-h1);
  }
}

.featured__recipe {
  margin-top: em(20) !important;

  @include min-width($_tablet-960px-breakpoint) {
    margin-top: em(30) !important;
  }
}
