/* ==============================================================================================

// GLOBAL MAPS

// DO NOT change these map names/values unless you know what you're doing

================================================================================================= */

/**
 * Color Palette
 *
 * Defines theme colors, along with tone modifiers
 *
 * Example colors & modifiers are included below - modify to your project's specs.
 *
 * @see   ../02_functions/_color.scss
 */
$colors: (
  white: (
    base: #fff,
  ),
  black: (
    base: #000,
  ),
  gray: (
    light: #f5f5f5,
    base: #959595,
  ),
  beige: (
    base: #f9f4e6,
  ),
  red: (
    base: #f0a693,
    dark: #c86c60,
  ),
);

/**
 * Font configuration
 *
 * Sets all fonts, styles, weights, and fallbacks used throughout the site
 *
 * Examples are included below - modify according to fonts needed in your project.
 *
 * @see   ../fonts.scss
 * @see   ../03_mixins/_font-family.scss
 */
$fonts: (
  default: (
    family: 'Nunito',
    fallbacks: "Helvetica Neue, Helvetica, sans-serif",
    styles: (
      normal: normal,
    ),
    weights: (
      normal: 400
    ),
  ),
  headings: (
    family: 'Built Titling',
    fallbacks: "Helvetica Neue, Helvetica, sans-serif",
    styles: (
      normal: normal,
    ),
    weights: (
      normal: 400,
    ),
  ),
);

/**
 * Media Breakpoints
 *
 * Sets default media query breakpoints (using min-width)
 * Note: `em` media queries are ALWAYS based on `16px` browser base size
 *
 * @see   ../03_mixins/_media-queries.scss
 */
$breakpoints: (
  mobile: (
    sm: 20em, // 320px
    md: 30em, // 480px
    lg: 40em // 640px
  ),
  tablet: (
    sm: 50em, // 800px
    md: 60em, // 960px
    lg: 70em // 1120px
  ),
  laptop: (
    sm: 80em, // 1280px
    md: 90em, // 1440px
    lg: 100em // 1600px
  ),
  desktop: (
    sm: 110em, // 1760px
    md: 120em, // 1920px
    lg: 130em // 2080px
  ),
  tv: (
    sm: 140em, // 2240px
    md: 150em, // 2400px
    lg: 160em // 2560px
  )
);

/**
 * Z-Index
 *
 * Sets default z-index layers
 *
 * @see   ../02_functions/_z-index.scss
 */
$z-layers: (
  abyss: -9999,
  hidden: -1,
  default: 1,
  nav: 3000,
  subnav: 3005,
  sticky: 4000,
  overlay: 5000,
  modal: 5005,
  above-all: 9999
);

/**
 * Asset paths
 *
 * These should be relative to the main.scss file in the `assets/styles` folder
 *
 */
$assets: (
  base: '..',
  images: '../images',
  fonts: '../fonts',
  styles: '../styles',
  scripts: '../scripts',
);

/* ==============================================================================================

// USEFUL/GLOBAL VARIABLES

================================================================================================= */

/*
 * TABLE OF CONTENTS
 *
 *   01. TYPOGRAPHY
 *
 *   02. HEADINGS
 *
 *   03. BUTTONS
 *
 *   04. CONTAINER / GRID / SPACING
 *
 *   05. GLOBAL MEDIA QUERY BREAKPOINTS
 */

/*
 * 01. TYPOGRAPHY
 */
$font-size-base: 16px;
$font-size-base--desktop: $font-size-base * 1.5;

$font-line-height: 1.5;
$font-size-typescale: 1.414;

/*
 * 02. HEADINGS
 */
$font-size-h6: $font-size-base; // 16px
$font-size-h5: $font-size-h6 * $font-size-typescale; // 22.62px
$font-size-h4: $font-size-h5 * $font-size-typescale; // 31.99px
$font-size-h3: $font-size-h4 * $font-size-typescale; // 45.23px
$font-size-h2: $font-size-h3 * $font-size-typescale; // 63.96px
$font-size-h1: $font-size-h2 * $font-size-typescale; // 90.44px

/*
 * 03. BUTTONS
 */
$font-size-button: $font-size-base * 0.8; // 12.8px (with 16px as reference point)

/*
 * 04. CONTAINER / GRID / SPACING
 */
// container
$container-max-width: 1440px;
$container-gutter: 20px;
// spacing
$vertical-spacer: 75px;

/*
 * 05. GLOBAL MEDIA QUERY BREAKPOINTS
 */
// mobile devices
$_mobile-320px-breakpoint: (device: mobile, size: sm);
$_mobile-480px-breakpoint: (device: mobile);
$_mobile-640px-breakpoint: (device: mobile, size: lg);

// tablet devices
$_tablet-800px-breakpoint: (device: tablet, size: sm);
$_tablet-960px-breakpoint: (device: tablet);
$_tablet-1120px-breakpoint: (device: tablet, size: lg);

// laptop devices
$_laptop-1280px-breakpoint: (device: laptop, size: sm);
$_laptop-1440px-breakpoint: (device: laptop);
$_laptop-1600px-breakpoint: (device: laptop, size: lg);

// desktop devices
$_desktop-1760px-breakpoint: (device: desktop, size: sm);
$_desktop-1920px-breakpoint: (device: desktop);
$_desktop-2080px-breakpoint: (device: desktop, size: lg);

// tv devices
$_tv-2240px-breakpoint: (device: tv, size: sm);
$_tv-2400px-breakpoint: (device: tv);
$_tv-2560px-breakpoint: (device: tv, size: lg);
