/* ==============================================================================================

// ARCHIVE RECIPE PAGE STYLES

================================================================================================= */

/************* Internal variables ************/
$_header-font-size--desktop: $font-size-h1*1.5;

/************* General styles ************/
.archive-recipe__header {
  padding: em(30, $font-size-h1) em(25, $font-size-h1) em(25, $font-size-h1);
  letter-spacing: em(0.5, $font-size-h1);
  line-height: em(55, $font-size-h1);
  text-align: center;

  @include min-width($_tablet-800px-breakpoint) {
    font-size: em($_header-font-size--desktop);
    padding: em(45, $_header-font-size--desktop) em(25, $_header-font-size--desktop) em(35, $_header-font-size--desktop);
    letter-spacing: em(0.5, $_header-font-size--desktop);
    line-height: em(75, $_header-font-size--desktop);
  }
}

.archive-recipe__feat-img-wrap {
  @include absolute-center((ratio: 100%, childElem: 'picture'));
  width: 100%;

  @include min-width($_mobile-480px-breakpoint) {
    padding-bottom: 85%;
  }

  @include min-width($_tablet-800px-breakpoint) {
    padding-bottom: 38%;
  }
}

.archive-recipe__feat-sticker-wrap {
  @include hide;

  @include min-width($_tablet-960px-breakpoint) {
    @include show;
    @include position(absolute, (top: 200px, right: 65px));
  }
}

.archive-recipe__feat-sticker {
  @include inline-block;
  font-size: em($font-size-base);
  width: em(110, $font-size-base);
  height: em(110, $font-size-base);
  padding-top: em(37, $font-size-base);
  line-height: em(22, $font-size-base);
  background-color: c(red, dark);
  color: c(white);
  font-weight: bold;
  text-align: center;
  border-radius: 100%;
  box-sizing: border-box;
  overflow: hidden;
  text-transform: uppercase;
}

.archive-recipe__feat-content-wrap {
  background-color: c(red, dark);
  z-index: z(default);
  padding: em(20);
  color: c(white);
  text-align: center;

  @include min-width($_tablet-960px-breakpoint) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.archive-recipe__feat-caption {
  font-size: em(16);

  @include min-width($_tablet-960px-breakpoint) {
    @include hide;
  }
}

.archive-recipe__feat-header {
  letter-spacing: em(2, $font-size-h2);
  margin-bottom: em(15, $font-size-h2);

  @include min-width($_tablet-960px-breakpoint) {
    font-size: em(50);
    letter-spacing: em(2, 50);
    margin-right: em(40, 50);
    margin-bottom: 0;
  }
}

.archive-recipe__feat-cta {
  @include button {
    border: em(2, $font-size-button) solid c(white);
    letter-spacing: em(1, $font-size-button);
    max-width: em(500, $font-size-button);
    padding: em(15, $font-size-button);
    width: 100%;
    background-color: transparent;
  }

  @include min-width($_tablet-960px-breakpoint) {
    max-width: em(150, $font-size-button);
    padding: em(10, $font-size-button);
  }
}
