/* ==============================================================================================

// DEFAULT PAGE STYLES

================================================================================================= */

/************* Internal variables ************/

/************* General styles ************/
.default-content {
  padding-top: em(40);
  padding-bottom: em(40);
}

.default-content__copy {
  @include container((width: 1120px));

  a {
    color: c(red, dark);
  }
}
